// Theme colors
$main-color: #51BA00;
$secondary-color: #0579FC;
$secondary-dark: #003046;

// Fonts
$main-font-color: #003046;
$headline-font-size: 40px;
$main-font-size: 14px;
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
